<hr />
<h1 id="start">App Component start!</h1>
Project Name: {{ title }}
<!-- Data Binding 1: Text Interpolation => Component.ts dosyasındaki değişkenleri 2 tane süslü parantezle html sayfasında kullanabiliriz -->

<br /><br />

<button (click)="btnClick()">{{ btnText }}</button>
<!-- Data Binding 3: Event Binding. Butona tıklandığı anda home.component.ts kısmına btnClick methodu çalışacak-->
<!--Birden fazla binding için fonksiyonları ; ile ayırabiliriz-->

<br /><br />

<!--Data Binding 4: Two-Way Data Binding-->
<input type="text" [(ngModel)]="twoWayData" />
<h1 style="background-color: yellow">{{ twoWayData }}</h1>
<!-- inputtaki text değiştiği anda two-way binding sayesinde h1 deki değer de değişiyor -->

<br /><br />

<button [disabled]="disabled">Attribute Binding</button>
<!--Data Binding 5: Attribute Binding => Property Binding ile Attribute Binding benzer. Attribute binding ile html elementlerine mesela
butonun tıklanabilirlik durumunu ayarlayabiliriz. Ama sadece html özellikleri -->

<br /><br />

<button [style.background-color]="bgColor">Style Binding</button>
<!--Data Binding 6: Attribute Binding in aynısı sadecce style ve class özellikleri atanır -->


<hr />

<app-home [pageName]="sendValue">
  <!--Data Binding 2: Property Binding-->
</app-home>

<app-default-directives></app-default-directives>

<hr />
<h1 id="start">Custom Directive Using Start</h1>

<div appCustomDirectives>
  Bu HTML nesnesini Custom Directive ile manipüle edicez
</div>

<div appCustomDirectivesWithParameter color="green"> <!-- Parametreli Custom Directive -->
  Bu HTML nesnesini de parametreli Custom Directive ile manipüle edicez
</div>

<div appHostListenerDirectives >
  Click for Alert!!!
</div>

<div appHostBindingDirectives>
  Bu HTML nesnesini HostBinding Directive ile manipüle edicez
</div>


<h1 id="end">Custom Directive Using End</h1>
<hr />

<app-structural-directives></app-structural-directives>
<app-pipe-component></app-pipe-component>

<app-parent></app-parent>

<app-parent2></app-parent2>




<h1 id="end">App Component end!</h1>